<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>Title</key>
	<string>Protecto Pass Settings</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>View</string>
			<key>FooterText</key>
			<string>view_footer_text</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Large Screen</string>
			<key>Key</key>
			<string>large_screen_preference</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Compact Mode</string>
			<key>Key</key>
			<string>compact_mode_preference</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Legal</string>
			<key>FooterText</key>
			<string>legal_footer_text</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Legal</string>
			<key>File</key>
			<string>Legal</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>About</string>
			<key>FooterText</key>
			<string>about_footer_text</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>App Version</string>
			<key>DefaultValue</key>
			<string>1.0.0</string>
			<key>Key</key>
			<string>app_version_preference</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Build Version</string>
			<key>DefaultValue</key>
			<string>1</string>
			<key>Key</key>
			<string>build_version_preference</string>
		</dict>
	</array>
</dict>
</plist>
